USE [master]
GO
/****** Object:  Database [CHUNGKHOAN]    Script Date: 5/19/2021 7:38:51 PM ******/
CREATE DATABASE [CHUNGKHOAN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CHUNGKHOAN', FILENAME = N'D:\Docs\Apps\Developing\Microsoft SQL Server\MSSQL15.MSSQLSERVER1\MSSQL\DATA\CHUNGKHOAN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CHUNGKHOAN_log', FILENAME = N'D:\Docs\Apps\Developing\Microsoft SQL Server\MSSQL15.MSSQLSERVER1\MSSQL\DATA\CHUNGKHOAN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CHUNGKHOAN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CHUNGKHOAN]
GO
/****** Object:  Table [dbo].[BANGGIATRUCTUYEN]    Script Date: 5/19/2021 7:38:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGGIATRUCTUYEN](
	[MACK] [nchar](7) NOT NULL,
	[GIAMUA3] [float] NOT NULL,
	[KLMUA3] [int] NOT NULL,
	[GIAMUA2] [float] NOT NULL,
	[KLMUA2] [int] NOT NULL,
	[GIAMUA1] [float] NOT NULL,
	[KLMUA1] [int] NOT NULL,
	[KHOPLENHGIA] [float] NOT NULL,
	[KHOPLENHKL] [int] NOT NULL,
	[GIABAN1] [float] NOT NULL,
	[KLBAN1] [int] NOT NULL,
	[GIABAN2] [float] NOT NULL,
	[KLBAN2] [int] NOT NULL,
	[GIABAN3] [float] NOT NULL,
	[KLBAN3] [int] NOT NULL,
 CONSTRAINT [PK_BANGGIATRUCTUYEN] PRIMARY KEY CLUSTERED 
(
	[MACK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LENHDAT]    Script Date: 5/19/2021 7:38:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LENHDAT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MACP] [nchar](7) NOT NULL,
	[NGAYDAT] [datetime] NOT NULL,
	[LOAIGD] [nchar](1) NOT NULL,
	[LOAILENH] [nchar](10) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[GIADAT] [float] NOT NULL,
	[TRANGTHAILENH] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_LENHDAT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LENHKHOP]    Script Date: 5/19/2021 7:38:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LENHKHOP](
	[IDKHOP] [int] IDENTITY(1,1) NOT NULL,
	[NGAYKHOP] [datetime] NOT NULL,
	[SOLUONGKHOP] [int] NOT NULL,
	[GIAKHOP] [float] NOT NULL,
	[IDLENHDAT] [int] NOT NULL,
 CONSTRAINT [PK_LENHKHOP] PRIMARY KEY CLUSTERED 
(
	[IDKHOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BANGGIATRUCTUYEN] ([MACK], [GIAMUA3], [KLMUA3], [GIAMUA2], [KLMUA2], [GIAMUA1], [KLMUA1], [KHOPLENHGIA], [KHOPLENHKL], [GIABAN1], [KLBAN1], [GIABAN2], [KLBAN2], [GIABAN3], [KLBAN3]) VALUES (N'1      ', 1, 2, 3, 21, 123, 22, 2, 2, 2, 2, 2, 2, 2, 2)
GO
SET IDENTITY_INSERT [dbo].[LENHDAT] ON 

INSERT [dbo].[LENHDAT] ([ID], [MACP], [NGAYDAT], [LOAIGD], [LOAILENH], [SOLUONG], [GIADAT], [TRANGTHAILENH]) VALUES (4, N'CP     ', CAST(N'2020-06-18T18:22:41.127' AS DateTime), N'M', N'LO        ', 0, 9000, N'Khop')
INSERT [dbo].[LENHDAT] ([ID], [MACP], [NGAYDAT], [LOAIGD], [LOAILENH], [SOLUONG], [GIADAT], [TRANGTHAILENH]) VALUES (6, N'CP     ', CAST(N'2020-06-18T17:55:36.000' AS DateTime), N'M', N'LO        ', 0, 11000, N'Khop')
INSERT [dbo].[LENHDAT] ([ID], [MACP], [NGAYDAT], [LOAIGD], [LOAILENH], [SOLUONG], [GIADAT], [TRANGTHAILENH]) VALUES (8, N'CP     ', CAST(N'2020-06-18T17:57:24.000' AS DateTime), N'M', N'LO        ', 0, 15000, N'Khop')
SET IDENTITY_INSERT [dbo].[LENHDAT] OFF
GO
SET IDENTITY_INSERT [dbo].[LENHKHOP] ON 

INSERT [dbo].[LENHKHOP] ([IDKHOP], [NGAYKHOP], [SOLUONGKHOP], [GIAKHOP], [IDLENHDAT]) VALUES (4, CAST(N'2020-06-18T00:00:00.000' AS DateTime), 2000, 15000, 8)
INSERT [dbo].[LENHKHOP] ([IDKHOP], [NGAYKHOP], [SOLUONGKHOP], [GIAKHOP], [IDLENHDAT]) VALUES (5, CAST(N'2020-06-18T00:00:00.000' AS DateTime), 5000, 11000, 6)
INSERT [dbo].[LENHKHOP] ([IDKHOP], [NGAYKHOP], [SOLUONGKHOP], [GIAKHOP], [IDLENHDAT]) VALUES (6, CAST(N'2020-06-18T00:00:00.000' AS DateTime), 100, 9000, 4)
SET IDENTITY_INSERT [dbo].[LENHKHOP] OFF
GO
/****** Object:  StoredProcedure [dbo].[CursorLoaiGD]    Script Date: 5/19/2021 7:38:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CursorLoaiGD]
  @OutCrsr CURSOR VARYING OUTPUT, 
  @macp NVARCHAR( 10), @Ngay NVARCHAR( 10),  @LoaiGD CHAR 
AS
SET DATEFORMAT DMY 
IF (@LoaiGD='M') 
  SET @OutCrsr=CURSOR KEYSET FOR 
  SELECT ID, NGAYDAT, SOLUONG, GIADAT FROM LENHDAT 
  WHERE MACP=@macp 
     AND DAY(NGAYDAT)=DAY(@Ngay)AND MONTH(NGAYDAT)= MONTH(@Ngay) 	   AND YEAR(NGAYDAT)=YEAR(@Ngay)  
     AND LOAIGD=@LoaiGD AND SOLUONG >0  
    ORDER BY GIADAT DESC, NGAYDAT 
ELSE
  SET @OutCrsr=CURSOR KEYSET FOR 
  SELECT ID, NGAYDAT, SOLUONG, GIADAT FROM LENHDAT 
  WHERE MACP=@macp 
    AND DAY(NGAYDAT)=DAY(@Ngay)AND MONTH(NGAYDAT)= MONTH(@Ngay) 	AND YEAR(NGAYDAT)=YEAR(@Ngay)  
    AND LOAIGD=@LoaiGD AND SOLUONG >0  
    ORDER BY GIADAT, NGAYDAT 
OPEN @OutCrsr
GO
/****** Object:  StoredProcedure [dbo].[SP_BACKUP_POSITIONS]    Script Date: 5/19/2021 7:38:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_BACKUP_POSITIONS] 
@DBNAME varchar(50)
AS
BEGIN
SELECT position, name, backup_start_date, user_name
FROM msdb.dbo.backupset 
WHERE backup_set_id >= (SELECT MAX(backup_set_id)
						FROM msdb.dbo.backupset
						WHERE media_set_id = (SELECT MAX(media_set_id) 
											FROM msdb.dbo.backupset 
											WHERE database_name = @DBNAME and type='D') and position = 1) and database_name = @DBNAME and type='D'
ORDER BY position DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DANHSACH_DB]    Script Date: 5/19/2021 7:38:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_DANHSACH_DB] as
SELECT name
FROM      sys.databases
WHERE    (database_id >= 5) AND (NOT (name LIKE N'ReportServer%'))
ORDER BY NAME
GO
/****** Object:  StoredProcedure [dbo].[SP_KHOPLENH_LO]    Script Date: 5/19/2021 7:38:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_KHOPLENH_LO]
 @macp NVARCHAR( 10), @Ngay NVARCHAR( 10),  @LoaiGD CHAR, 
 @soluongMB INT, @giadatMB FLOAT 
AS
SET DATEFORMAT DMY
DECLARE @CrsrVar CURSOR, @id INT, @ngaydat NVARCHAR(10), @soluong INT, @giadat FLOAT, @soluongkhop INT, @giakhop FLOAT
 IF (@LoaiGD='B')
   EXEC CursorLoaiGD  @CrsrVar OUTPUT, @macp,@Ngay, 'M'
 ELSE 
  EXEC CursorLoaiGD  @CrsrVar OUTPUT, @macp,@Ngay, 'B'
  
FETCH NEXT FROM @CrsrVar  INTO @id, @ngaydat, @soluong, @giadat 
--SELECT @ngaydat , @soluong , @giadat
WHILE (@@FETCH_STATUS <> -1 AND @soluongMB > 0)
BEGIN
 IF (@LoaiGD='B' )
   IF  (@giadatMB <= @giadat)
   BEGIN
     IF @soluongMB > @soluong 
     BEGIN
       SET @soluongkhop = @soluong
       SET @giakhop = @giadat
       SET @soluongMB = @soluongMB - @soluong
       UPDATE dbo.LENHDAT  
         SET SOLUONG = 0, TRANGTHAILENH='Khop'
         WHERE CURRENT OF @CrsrVar
     END
     ELSE --@soluongMB <= @soluong 
     BEGIN
       SET @soluongkhop = @soluongMB
       SET @giakhop = @giadat
       
       UPDATE dbo.LENHDAT  
         SET SOLUONG = SOLUONG - @soluongMB
         WHERE CURRENT OF @CrsrVar
       SET @soluongMB = 0
     END
     --SELECT  @soluongkhop, @giakhop
     INSERT INTO LENHKHOP VALUES(@Ngay, @soluongkhop, @giakhop, @id)
   END
   ELSE --(@giadatMB > @giadat)
   BEGIN
	 INSERT INTO LENHDAT VALUES(@macp, @Ngay, @LoaiGD, 'LO', @soluongMB, @giadatMB, 'Chokhop')
     GOTO THOAT
   END
 ELSE --(@LoaiGD='M')
     -- Còn Trường hợp lệnh gởi vào là lệnh mua
   IF  (@giadatMB >= @giadat)
   BEGIN
     IF @soluongMB >= @soluong 
     BEGIN
       SET @soluongkhop = @soluong
       SET @giakhop = @giadatMB
       SET @soluongMB = @soluongMB - @soluong
       UPDATE dbo.LENHDAT  
         SET SOLUONG = 0, TRANGTHAILENH='Khop'
         WHERE CURRENT OF @CrsrVar
     END
     ELSE --@soluongMB < @soluong 
     BEGIN
       SET @soluongkhop = @soluongMB
       SET @giakhop = @giadatMB
       
       UPDATE dbo.LENHDAT  
         SET SOLUONG = SOLUONG - @soluongMB
         WHERE CURRENT OF @CrsrVar
       SET @soluongMB = 0
     END
     --SELECT  @soluongkhop, @giakhop
     INSERT INTO LENHKHOP VALUES(@Ngay, @soluongkhop, @giakhop, @id)
   END
   ELSE --(@giadatMB < @giadat)
   BEGIN
	 INSERT INTO LENHDAT VALUES(@macp, @Ngay, @LoaiGD, 'LO', @soluongMB, @giadatMB, 'Chokhop')
     GOTO THOAT
   END
 FETCH NEXT FROM @CrsrVar INTO  @id, @ngaydat , @soluong , @giadat
END
IF (@@FETCH_STATUS = -1 AND @soluongMB > 0)
	INSERT INTO LENHDAT VALUES(@macp, @Ngay, @LoaiGD, 'LO', @soluongMB, @giadatMB, 'Khop 1 phan')
THOAT:
    CLOSE @CrsrVar
    DEALLOCATE @CrsrVar
GO
USE [master]
GO
