<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ChungKhoan_Backup.Properties.Settings.CHUNGKHOANConnectionString"
            connectionString="Data Source=ANTHIEN049\SQLSERVER1;Initial Catalog=CHUNGKHOAN;User ID=sa;Password=asd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>